version: "3.8"

services:
  backend:
    build: ./backend
    container_name: student-backend
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=mongodb+srv://shakthi:student123@cluster0.a6ouuwr.mongodb.net/?appName=Cluster0
    restart: always

  frontend:
    build: ./frontend
    container_name: student-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
