services:
  backend:
    build: ./backend
    container_name: student-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: student-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
